<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>‌
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="~/Scripts/JavaScript_test.js"></script>

<body style="background-color:#ECF0F5!important;">
    <div id="mySidenav" class="sidenav" style="text-decoration: none;">
        <div style="background-color:#ffffff; width:100%; height:71px; margin-top:-19.5px;">
            <img src="~/Content/Images/logo copy.png" width:100px; height:50px; />
        </div>

        <ul class="side-menu">

            <li>
                <a href="#"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</a>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Users</a>
                <ul>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp;&nbsp;Users List</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp;Users Roles</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp;Activity Log</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;ISOs</a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; ISO List</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Companies</a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Company List</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Merchants </a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Merchant List</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;Payment Gateway</a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Manage Payment Gateway</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Gateway Logs</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;Bank</a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Manage Bank</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;Ach
                </a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Ach Notification</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;Transcation</a><ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Imported Transactions</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;&nbsp;&nbsp;Content Manager</a> <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Topics(pages)</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Message Templates</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Configuration</a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Settings</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Email accounts</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Sites</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Countries</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; String Resources</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Access Control List</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;System</a>
                <ul>

                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Log</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Mesasage Queue</a></li>
                    <li><a href="#"> <i class="fa fa-dot-circle-o"></i> &nbsp;&nbsp;&nbsp; Schedule tasks</a></li>

                </ul>
            </li>
        </ul>

    </div>


</body>